@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #FFFFFF;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
